
    <!--    Main Content-->
    <!-- ===============================================-->
    <br><br><br><br><br><br>
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="#"><img class="d-inline-block me-3" src="assets/images/doc.png" alt="" />AI Bot</a><button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
              <li class="nav-item"><a class="nav-link fw-bold active" aria-current="page" href="#">Home</a></li>
              
              <li class="nav-item"><a class="nav-link" href="#admin">Admin</a></li>
            </ul>
          </div>
        </div>
      </nav>
    
      <section class="py-8">
        <div class="bg-holder" style="background-image:url(assets/images/services-bg.png);background-position:center left;background-size:auto;"></div>
        <!--/.bg-holder-->
        <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:center right;background-size:auto;margin-left:-180px;margin-top:20px;"></div>
        <!--/.bg-holder-->
        <div class="container-lg">
          <div class="row justify-content-center">
            <div class="col-3 text-center">
              <h2 class="fw-bold">AI Healthcare Bot</h2>
              <hr class="w-25 mx-auto text-dark" style="height:2px;" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-9 col-xl-8 text-center">
              <p>An AI healthcare bot is a powerful tool that can assist patients with booking and managing appointments, detecting diseases based on symptoms, map appointments to the appropriate doctor and department, and providing basic first aid information. With its advanced capabilities, the bot can improve patient experience, reduce healthcare costs, and increase efficiency in the healthcare industry. </p>
            </div>
          </div>
          <div class="row justify-content-center h-100 pt-7 g-4">
            <div class="col-sm-9 col-md-4">
              <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                <div class="card-body text-center text-md-start">
                  <div class="py-3"><img class="img-fluid" src="assets/images/consultation.png" height="90" alt="" /></div>
                  <div class="py-3">
                    <h4 class="fw-bold card-title">Manage appointments</h4>
                    <p class="card-text">An AI chatbot can assist you with managing your appointments by providing a hassle-free experience for booking, rescheduling or cancelling appointments.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-9 col-md-4">
              <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                <div class="card-body text-center text-md-start">
                  <div class="py-3"><img class="img-fluid" src="assets/images/search.png" height="90" alt="" /></div>
                  <div class="py-3">
                    <h4 class="fw-bold card-title">First Aid</h4>
                    <p class="card-text">AI chatbot can provide basic first aid information. Its guidance can help users manage minor injuries or illnesses </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-9 col-md-4">
              <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                <div class="card-body text-center text-md-start">
                  <div class="py-3"><img class="img-fluid" src="assets/images/about-1.png" height="90" alt="" /></div>
                  <div class="py-3">
                    <h4 class="fw-bold card-title">Find Suitable Department</h4>
                    <p class="card-text">AI healthcare chatbot can find the suitable medical department based on the symptoms.<small>**However, patients should always seek the advice of a healthcare professional for an accurate diagnosis**</small> </p>
                  </div>
                </div>
              </div>
            </div>
           
           
            
            
          </div>
        </div>
      </section>
      <section class="py-6 py-lg-8" id="admin">
        <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:right bottom;background-size:auto;margin-top:50px;"></div>
        <!--/.bg-holder-->
      </section>
      <!-- ============================================-->
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <h2 class="fw-bold">Admin Area</h2>
          <hr class="w-25 mx-auto text-dark" style="height:2px;" />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9 col-xl-8 text-center">
          <p> An administrator who has the ability to train the chatbot model, manage doctors and departments, and view bookings. This provides the administrator with the flexibility to customize and manage the chatbot's functionality to meet the needs of the healthcare organization.  </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-9 col-xl-8 text-center">
          <button type="button" class="btn btn-danger mr-3">Train AI Model</button>
          <button type="button" class="btn btn-primary mx-3">View Bookings</button>
          <button type="button" class="btn btn-info ml-3">Get Department List</button>
        </div>
      </div>
      
      

      <!-- ============================================-->
      
      <section>
        <div class="bg-holder" style="background-image:url(assets/images/article-bg.png);background-position:right center;background-size:auto;"></div>
        <!--/.bg-holder-->
        
      </section>
      <section class="py-6 pt-7 bg-primary-gradient">
        <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:left bottom;background-size:auto;filter:contrast(1.5);"></div>
        <!--/.bg-holder-->
        <div class="bg-holder" style="background-image:url(assets/images/dot-2.png);background-position:right top;background-size:auto;margin-top:-75px;"></div>
        <!--/.bg-holder-->
    
      </section>
      <!-- ============================================-->
      <!-- ============================================-->
    </main><!-- ===============================================-->
    <!--    End of Main Content-->



<app-chat></app-chat>

<router-outlet></router-outlet>
