# Ignore Python compiled files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore development files and directories
*.log
*.cfg
*.db
.idea/
.vscode/

# Ignore version control directories
.git/
.idea